.shadow.shadow.rounded.text-sm.border.bg-white.absolute.hidden.more-dd{"data-comment-target": "dropdown" }
  = link_to root_path do
    .px-4.py-2-5.hover:bg-behindfade.border-b
      Edit
  = link_to story_comment_path(story_id: story.id, id: comment.id), data: {turbo_method: :delete} do
    .px-4.py-2-5.hover:bg-behindfade
      Delete