.bg-behindfade.rounded-full.w-9.h-9.items-center.justify-center.flex.text-sm.font-normal.cursor-pointer{"data-account-target": "button", "data-action": "click@window->account#close_dropdown keydown.esc->account#close_dropdown click->account#toggle_dropdown", "tabindex": "0"}
  - initials = user.name_initials
  %span
    = initials