%div{ "data-controller": "story" }
  %div
    = form.text_area :title, { class: "focus-visible:ring-0 appearance-none resize-none w-full text-6xl  border-none", "data-story-target": "title", placeholder: "Title", "data-action": "story#check_limit", maxlength: 100, rows: 1}
  %span.text-xs.p-0.m-0.italic.text-fade
    %span
      [title]
    %span{ "data-story-target": "title_length" }
      0
    %span
      \/ 100 charaters