= render partial: "text_field", locals: { form: form, name: "title", maxLength: 100, placeholder: "Title" }
= render partial: "text_field", locals: { form: form, name: "content", maxLength: nil, placeholder: "Tell your story..." }
