- if @comment
  = render partial: "stories/view", locals: { story: story }
- else
  = render partial: "stories/preview", locals: { story: story}

:javascript
  feather.replace()
  document.querySelectorAll("pre").forEach((el) => {
    hljs.highlightElement(el);
  });