- classes = name == "title" ? "text-5xl" : "text-xl mt-4"
- if name == "title"
  = form.text_area name, { class: "focus-visible:ring-0 appearance-none resize-none w-full border-none #{classes}", "data-editor-target": name, placeholder: placeholder, "data-action": "editor#check_limit", maxlength: maxLength, rows: 1, spellcheck: false}
-else
  = form.rich_text_area name, { class: "focus-visible:ring-0 appearance-none resize-none w-full border-none #{classes}", placeholder: placeholder, maxlength: maxLength, rows: 1, spellcheck: false}

- if maxLength
  %span.text-xs.p-0.m-0.italic.text-fade
    %span{ "data-editor-target": "title_length" }
      0
    %span
      \/ 100 charaters