= provide(:title, 'New Story')

.w-full.max-w-contentmax.mx-auto{ "data-controller": "editor" }
  = form_with model: @story do |form|

    .mx-6.md:mx-0.mb-4.flex.justify-between.text-sm.h-10.items-center.top-4.p-4.rounded
      %div
        %span.py-1.px-2.rounded-sm.bg-white.font-medium
          Edit
        %span.py-1.px-2.ml-1.rounded-sm.border
          Preview
      .py-1.px-2.rounded-sm.bg-green-200
        =form.submit 'Publish'

    = form.text_area "asd", { class: "focus-visible:ring-0 appearance-none resize-none w-full border-t-0 border-l-0 border-r-0 mb-4", "data-editor-target": "tags", placeholder: '#tags', "data-action": "keydown.enter->editor#add_tags", maxlength: 500, rows: 1, spellcheck: false, "tabindex": "0"}
    .mx-6.md:mx-0
      = render partial: "form", locals: { form: form }