/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/
.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}
/* trix-toolbar { display: none; } */

.trix-content, #story_content{
  height: 500vh;
  font-family: serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  strong {
    font-weight: 800;
  }
  pre{
    margin: 10px;
    padding: 1rem;
    font-size: .8rem;
    border-radius: 3px;
    color: #383a42 !important;
    background: #f5f5f5 !important;
    border: 1px solid rgb(229, 229, 229);
    overflow-x: auto !important
  }
  ul {
    list-style-type: disc;
    padding-left: 1rem;
  }

  blockquote {
    border: 0 solid rgb(46,46,46);
    border-left-width: 0px;
    border-left-width: 2.5px;
    margin-left: 0.3em;
    padding-left: 0.3em;
  }

  figure{
    background-color: red !important;
    margin: auto !important;
    width: 500px !important;
  }

  h1{
    font-weight: 600;
    font-size: 24px;
  }

  mark{
    background-color: #F2F2F2;
    padding: 2px 4px 2px 4px;
    font-size: 15px;
    font-family: "Source Code Pro", monospace
  }

  a {
    text-decoration: underline;
  }
}

trix-toolbar{
  top: 50px !important;
  border-radius: 5px;
  z-index: 999999;
  background-color: white;
  position: sticky !important;
}

trix-toolbar .trix-button--icon-highlight::before{
  background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M331 315l158.4-215L460.1 70.6 245 229 331 315zm-187 5l0 0V248.3c0-15.3 7.2-29.6 19.5-38.6L436.6 8.4C444 2.9 453 0 462.2 0c11.4 0 22.4 4.5 30.5 12.6l54.8 54.8c8.1 8.1 12.6 19 12.6 30.5c0 9.2-2.9 18.2-8.4 25.6L350.4 396.5c-9 12.3-23.4 19.5-38.6 19.5H240l-25.4 25.4c-12.5 12.5-32.8 12.5-45.3 0l-50.7-50.7c-12.5-12.5-12.5-32.8 0-45.3L144 320zM23 466.3l63-63 70.6 70.6-31 31c-4.5 4.5-10.6 7-17 7H40c-13.3 0-24-10.7-24-24v-4.7c0-6.4 2.5-12.5 7-17z"/></svg>');
  height: 18px;
  width: 18px;
  margin: auto auto;
}

.trix-button--icon-strike,
.trix-button--icon-attach,
.trix-button-group-spacer,
.trix-button-group--history-tools,
.trix-button-group--file-tools,
.trix-button--icon-increase-nesting-level,
.trix-button--icon-decrease-nesting-level,
.trix-button--icon-number-list,
.trix-button-group--history-tools {
  display: none !important;
}

.trix-button-row{
  justify-content: center!important;
  color: #3a3a40 !important;
  .trix-button-group{
    cursor: default !important;
    margin: 0 !important;
    border: none !important;
    button {
      background-color: white;
      border-radius: 5px;
      width: 50px;
      padding: 0 !important;
      margin: 5px;
      border: 1px solid rgb(229, 229, 229) !important;
      &:hover{
        background-color: var(--color-text-behind-fade);
      }
    }
  }
}

.stickytab{
  animation: fadeIn 1s ease forwards; /* Apply animation when class is applied */
  button {
    &:hover{
      background-color: var(--color-text-behind-fade) !important;
    }
  }
}

.notstickybar{
  animation: reverseFadeIn 1s ease forwards; /* Apply animation when class is applied */
  &:hover{
    background-color: var(--color-text-behind-fade);
  }

}

@keyframes reverseFadeIn {
  from {
    border: 1px solid rgb(229, 229, 229) !important;
    background-color: var(--color-text-behind-fade);
  }
  to {
    border: 1px solid white !important;
    background-color: white;
  }
}

@keyframes fadeIn {
  from {
    border: 1px solid white !important;
    background-color: white;
  }
  to {
    border: 1px solid rgb(229, 229, 229);
    background-color: var(--color-text-behind-fade);
  }
}
