-# = provide(:title, 'First Page')

.w-full
  - if current_user.present? && current_user.stories.present?
    - @story =current_user.stories.last 
    = render @story
  %div
    '------------------------------------------------------------------------------------------------------------------------'
  %span.text-secondary
    asdaad
  %div.text-primary
    asdaad
  %div.text-fade
    asdaad
  %div.text-behindfade
    asdaad
