- if current_user
  = link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}
%span.text-secondary
  asdaad
%div.text-primary
  asdaad
%div.text-fade
  asdaad
%div.text-behindfade
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
