= render partial: "shared/navigation/user_dropdown"
%div
  '------------------------------------------------------------------------------------------------------------------------'
%span.text-secondary
  asdaad
%div.text-primary
  asdaad
%div.text-fade
  asdaad
%div.text-behindfade
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
%div
  asdaad
